@import '../../mixins.scss' ;

.header{
    width: 100%;
    margin-bottom: 20px;
    @include respond-to(small-screens) { 
        flex-direction: column;
     }
}


.list {
    list-style-type: none;
   

    li {
        padding: 20px;

        @include respond-to(small-screens) { 
            padding: 10px;
         }
    }

    a {
      text-decoration: none;
      color: var(--primaryColor)
    }

    @include respond-to(small-screens) { 
        padding-left: 0;
     }
}

.active {
    font-weight: 900;
}

