

.income {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText{
    padding-bottom: 20px;
    text-align: center;
}


.datePicker{
    width: 100%;
    background-color:  var(--secondary);
    border: 1px solid #4a4c4f ;
    height: 40px;
    width: 100%;
    padding: 5px;
    outline: none;
}

:global{
    div[class*='ant']{
        background-color:  var(--secondary);
        color:var(--primary) !important;
    }

    .ant-modal-wrap{
        background-color:  transparent !important;
    }

    .ant-select-item-option-active{
        background-color:  var(--secondary) !important;
        color:var(--primary) !important;
    }

}
