@import '../../mixins.scss' ;

.stats{
    background:  var(--lightPrimary);
    border-radius: 6px;
    @include respond-to(medium-small-screens) { 
       flex-direction: column;
    }
}
.barContainer{
   flex : 65;
   border-right : 1px dashed #eaeaea;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @include respond-to(small-screens) {
     width : 320px; 
     margin: 0 auto;
     border-right : none;
   }  
   @include respond-to(medium-screens) {
    width : 500px; 
    margin: 0 auto;
    border-right : none;
  }  
 
}
.circleContainer{
    flex : 35;
    @include respond-to(medium-small-screens) { 
        width : 320px;
        margin: 0 auto;
     }
}